<div class="container">
  <h3 class="title">Adicionar Quadro</h3>
  <hr/>
  <div class="row">
      <div class="col-md-6">
        
        <div class="form-group">
          <label class="lbl" for="description">Descrição</label>
          <input id="description" class="form-control" type="text"> 
        </div>
      
        <div class="form-group">
          <label class="lbl" for="project">Projeto</label>
          <input id="project" class="form-control" type="text">
        </div>
      
        <div class="form-group">
          <a href="#" class="btn-form">Adicionar Tarefa</a>
        </div>
      </div>
  </div>  
</div>