<div class="container">
  <h3 class="title">
    Lista de Tarefas
  </h3>
  <hr />
  <p class="subtitle-text">Descrição do quadro: ex Alfa</p>

  <h4 class="title">
    Filtrar tarefas por mês
  </h4>

  <!-- class="form-inline"> -->
    <div class="form-group">
      <label class="lbl-filter" for="dateStart">Data Inicial</label>
      <input class="form-control" id="dateStart" type="date" placeholder="Data Inicial" />
    </div>
    <div class="form-group mx-sm-3">
      <label class="lbl-filter" for="dateFinal">Data Final</label>
      <input class="form-control" id="dateFinal" type="date" placeholder="Data Final" />
    </div>
    <div class="form-group">
      <a href="#" class="btn-form">Filtrar</a>
    </div>
  

  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data Entrega</th>
        <th scope="col">Estado</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <input type="checkbox" aria-label="Checkbox for following text input">
        </th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>