<div class="container">
  <h3 class="title">
    {{frame?.description}}
  </h3>
  <hr />
  <div *ngIf="frame?.tasks.length > 0; else elseBlock" style="margin-bottom: 100px;">
    <table class="table table-responsive-lg table-striped mt-5">
      <thead>
        <tr>
          <th class="text-center" scope="col"></th>
          <th scope="col">Tarefa</th>
          <th class="text-center" scope="col">Entrega</th>
          <th class="text-center" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of frame?.tasks">
          <td class="text-center">
            <input [checked]='task.state === "DELIVERED" ? true : false' (click)="alterState(task.id)" type="checkbox"
              aria-label="Checkbox for following text input">
          </td>
          <td>
            {{task.description}}
          </td>
          <td class="text-center">
            {{task.deliveryDate | date: 'dd/MM/yy'}}
          </td>
          <td class="text-right">
            <button type="button" (click)="removeTask(task.id)" class="btn btn-remove">cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="msg-alert mt-5"><i>As tarefas com caixa de seleção marcada já foram resolvidas.
        <br />
        Para marcar uma tarefa como resolvida clique na caixa de seleção.</i></p>
  </div>

  <ng-template #elseBlock>
    <p class="subtitle-text text-center mt-5">Nenhuma tarefa encontrada</p>
  </ng-template>

</div>