  <div class="col-md-3">
    <div class=" text-center mt-4" style="width: 12rem;">
      <div class="card-container">        
        <a (click)="detailFrame(frame.id)" data-toggle="tooltip" data-placement="top" title="Abrir quadro" class="subtitle-text mb-2 title-card">{{frame.description}}</a>
        <h6 class="subtitle-text mb-2 text-muted">{{frame.project}}</h6>
        <p class="subtitle-text">Total de tarefas: {{frame.totalTasks}}</p>
        <a (click)="addTask(frame.id)" class="card-link btn-card">Adicionar Tarefa</a>
      </div>
    </div>
  </div>
