.btn-form {
    background-color: #3349FF;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.015em;
    color: #FFF;
    text-decoration: none;
}

.btn-form:hover {
    
    transform: scale(1.01);
    color: #FFF;
    text-decoration: none;
}

.title{
    margin-top: 50px;
    color: #3349FF;
    font-family: sans-serif;
}

.lbl{
    color: #7D7676;
    font-size: 16px;
}

