.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3349FF;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;    
    color: #FFF;    
    width:100%;
    position: fixed;
    bottom: 0; 
    margin-top: 60px;   
}

.footer-title{
    font-size: 16px;
    transform: translateY(50%); 
}